<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
      }
    </style>
  </head>
  <body>
    <p>Hi #{firstName},</p>
    <p>Forgot your password?</p>
    <p>
      Submit a PATCH request with your new password and password confirmation
      to:
    </p>
    <p>#{url} to update your password.</p>
    <p>If you didn't forget your password, please ignore this email.</p>
  </body>
</html>
